body {
    --color: #14183a;
}

.bg--white {
    background-color: var(--color) !important;
}

.col--full {
    background-color: var(--color) !important;
}

.scheduler__slot--break {
    background-color: #14183a !important;
}

.scheduler__card--session-past>* {
    background-color: #14183a;   
    color: white;
}

.scheduler__card--session-past>* :hover {
    background-color: #14183a;   
    color: white;
}

.scheduler__slots-overlay--has-events {
    background-color: #14183a !important;
}

.scheduler__slot--today {
    background-color: #14183a !important;
}

.scheduler__card-link {
    background-color: #14183a !important;
}