/* menu a gauche => */

/* le fond d'écran */
/* main#screenreader-contenu */


html {
    background-color: #14183a !important;
    height: 100%;
    /* background-position-x: 240px;
    background-position-y: -30px; */
    width: 100%;
    overflow-y: overlay;
}

main#screenreader-contenu {
    /* backdrop-filter: blur(3px); */
    margin-top: 0;
    padding-top: 40px;
    height: 100vh;
}

/* header icone aide */
a[title="Aide"] {
    position: inherit;
    right: 10px;
}

input[type="checkbox"] {
    border-radius: 10px !important;
}

/* rubriques pages d'accueil (cases)*/
.panel--outlined {
    background-color: #43497d !important;
    border-radius: 22.5px !important;
    color: white;
    border-color: transparent !important;
}

hr.divider.divider--sm.divider--full-panel.divider--no-margin-top {
    background-color: #ffffff4f !important;
}

.panel--outlined a {
    color: #66d0dd !important;
}

/* travail fait (container) */
.panel--success {
    /* background-color: transparent; */
    background: linear-gradient(105deg, rgba(0, 0, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 36%, rgba(255, 255, 255, 0.6) 63%, rgba(255, 0, 0, 0.6) 100%);
    padding: 10px !important;
    border-radius: 15px;
    color: black !important;
}

div.divider,
hr {
    background-color: #ffffff4f;
}

/* devoir fait (énoncé) */
.panel--success a {
    color: black !important;
    font-weight: 100 !important;
    text-decoration: underline;
}

/* titre page accueil row */
/* .col--xs-12.col--lg-12 > div.row{
    display: list-item;
} */

/* titre rubriques page accueil */
h2.h5-like {
    color: white;
}

/* titre dans les rubriques page accueil (+matieres) */
h3.h6-like {
    color: rgb(255, 255, 255);
}

/* toutes les scrollbars */
/* taille */
::-webkit-scrollbar {
    width: 10px;

}

/* fond */
::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* ascenseur */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, blue 33%, white 33%, white 66%, red 66%);
    border-radius: 10px;
}

/* ascenseur on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgb(0, 0, 140) 33%, rgb(140, 140, 140) 33%, rgb(140, 140, 140) 66%, rgb(140, 0, 0) 66%);
    border-radius: 10px;
}

/* aucun message */
div.panel.panel--padding-xl>div.empty-state>p.empty-state__title {
    padding-top: 10px !important;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 25%;
    position: absolute;
    left: 37.5%;
}

/* zone de msg */
/* main#screenreader-contenu div div.col.col--full.col--xs-12.col--sm-9.col--xl-10.app-layout-1__col {
}*/

/* msg info (delete) container */
div.js-notices.js-global-notices-container.global-notices--panel.global-notices--panel-no-background {
    margin-bottom: 10px;
}

/* msg info (msg delete apres 90j */
div.js-notices.js-global-notices-container.global-notices--panel.global-notices--panel-no-background div.notices div.js-global-notices.js-notices div.msg.msg--NEUTRE.msg--neutral.js-notice {
    border-radius: 20px;
}

/* cahier de textes fin de liste devoirs (voir plus...) */
main#screenreader-contenu>div.container>div.row>div.col--xs-12.col--md-6.js-taf__wrapper>div.text--center>a.btn.btn--sm.btn--primary.btn--pills {
    margin-bottom: 50px;
}

/*cahier de textes boutons déclarer fait */
a.btn.btn--sm.btn--secondary.js-async.js-taf__btn-marquer-fait-non-fait[title="Déclarer fait"] {
    border-radius: 20px;
}

/* cahier de texte pour le... */
div.col.col--xs-4.text--center>p.p-like.slug.slug--xs.text--slate {
    color: black
}

/* boite de récéption (un message) */
ul#js_boite_reception>li.row.row--full.list-enhanced1__item {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    margin-bottom: 5px;
    margin-right: 15px;
}

/* boite de reception premier message */
ul#js_boite_reception>li.row.row--full.list-enhanced1__item:first-child {
    margin-top: 10px;
}

/* messagerie menu gauche (fck meluch) */
div#menu_contenu.col.col--full.col--xs-12.col--sm-3.col--xl-2.app-layout-1__col.panel--bg-lightest.col--border {
    border-radius: 25px;
    border-color: transparent;
    background-color: #43497d;
    color: white !important;
    margin: 10px
}

.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-wholerow-clicked.jstree-wholerow-hovered~.btn,
.jstree-default .jstree-wholerow-clicked~.btn {
    background-color: #7a82c1 !important;
}

.jstree-wholerow-hovered {
    background-color: #7a82c1 !important;
}

.msg--neutral {
    background-color: #43497d !important;
    color: white !important;
}

/* messagerie menu a gauche (icones recu, envoyé, corbeille...) */
ul.jstree-container-ul.jstree-children.jstree-wholerow-ul.jstree-no-checkboxes.jstree-no-dots[role="group"] {
    margin-top: 10px;
}

/* messagerie menu a gauche ajouter un dossier */
button.btn.btn--secondary.btn--sm.js-modalTrigger-ajouterDossierMsg[type="button"] {
    border-radius: 20px;
}

/* messagerie menu de gauche btn rédiger un message*/
input.btn.btn--primary.js-afficherNouveauMessage[value="Rédiger un message"][type="button"] {
    border-radius: 20px;
    margin-right: 20px;
}

/* messagerie barre de menu (partie haute: mess + btn rediger un msg) */
div.content-toolbar.content-toolbar--title.content-toolbar--buttons {
    background-color: #43497d !important;
    border-bottom: 1px solid #ffffff;
}

.content-toolbar.content-toolbar--tabs.content-toolbar--buttons {
    background-color: #222858 !important;
/* messagerie barre de menu (partie basse: fonctions msg -> supprimer, trier, ranger...)*/
div.panel.panel--no-margin.panel--naked.panel--bg-lightest {
    background-color: #43497d !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

/* messagerie -> trait pour séparer le message "oui les msg se suppriment apres 90 jours" et les messages (boite de réception) (oser pr l'instant) */
hr.divider.divider--no-margin {
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}

/* messagerie barre de menu bouton engrenage parametres */
div.col.col--full.col--xs-12.col--sm-9.col--xl-10>a.btn.btn--as-link.text--right.pull-right {
    margin-right: 10px;
}

.content-filter {
    background-color: #14183a !important;
}

.scheduler__slot--break {
    background-color: #14183a !important;
    border-color: #14183a;
    background-image: repeating-linear-gradient(45deg,rgb(255 255 255 / 14%),rgba(0,0,0,.15) 1px,transparent 2px,transparent 4px) !important;
}

.scheduler__slot.js-scheduler__day-slot {
    background-color: #14183a !important;
    border-color: #14183a;
}

/* cahier de texte -> prochainement -> barre de menu en haut */
main#screenreader-contenu>div.content-toolbar.content-toolbar--tabs.content-toolbar--buttons {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
main#screenreader-contenu > div.content-toolbar.content-toolbar--tabs.content-toolbar--buttons{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #222858 !important;
    margin-right: 10px;
    border-color: transparent !important;
}

.tabs__button,
.tabs__link {
    color: white !important;
}

/* cahier de textes -> emploi du temps -> barre de menu */
div#test>div.content-toolbar.content-toolbar--tabs.content-toolbar--buttons {}



/* cahier de texte -> emploi du temps -> colonne de l'agenda (1 jour) [a été patch par les devs de l'ent (fout la merde si c mit)]*/
/* div.scheduler__day.js-scheduler__day > div.scheduler__events-overlay.scheduler__events-overlay--has-events.js-scheduler__events-overlay {
    grid-template-rows: repeat(120, 1fr) !important;
} */

/* cahier de texte -> emploi du temps (container jours) -> background */
div.js-scheduler__current-view>div.row.row--full.bg--white {
    padding-bottom: 32px;
}

.scheduler__slot.js-scheduler__day-slot {
    background-color: #14183a;
}


/* indicateur du moment de la journée (ligne bleue emploi du tps)
    grid-area: 79 / 1 / auto / 3;
    position: absolute;
    width: 100%;
    left: 1rem;
*/

/**/
.score {
    background-color: #14183a !important;
    border-radius: 10px;
    border: 0 !important;
    width: 60px;
    height: 35px;
}

ul.list--unstyled>li {
    display: inline-flex !important;
    flex-direction: column-reverse !important;
}

.content-toolbar.content-toolbar--title.content-toolbar--tabs.content-toolbar--buttons.fo-content-toolbar,
.content-toolbar.content-toolbar--title.content-toolbar--tabs.content-toolbar--buttons {
    border: 0;
}