/* Agenda personnel */

/* Agenda Personnel btn exporter */ 
.dropdown.dropdown--right.js-dropdown{
    border-radius: 10px;
}

/* Agenda Personnel btn plus */
.dropdown.dropdown--right.js-dropdown{
    border-radius: 10px;
}

/* Agenda Personnel btn ajouter un évènement */
.dropdown__content.js-dropdown__content{
    border-radius: 10px; 
}