* {--dark-blue: #2a3961; --blue: #43497d; --light-blue: #678FFF; --light-gray: #333333; --gray: #282828; --dark-gray: #1C1C1C;}

div#menu_contenu {
    background-color: var(--blue);
    border-color: transparent;
}

.content-toolbar.content-toolbar--title.content-toolbar--buttons {
    background-color: var(--blue) !important;
}

.panel.panel--no-margin.panel--naked.panel--bg-lightest {
    background-color: var(--blue);
}

.jstree-wholerow.jstree-wholerow-clicked {
    background-color: #222858 !important;
    border-radius: 20px !important;
}

.jstree-wholerow-ul>li>a {
    color: white !important;
}

.jstree-wholerow:hover {
    transition: 0.3s !important;
    border-radius: 20px !important;
    background-color: #222858 !important;
}