* {--dark-blue: #2a3961; --blue: #43497d; --light-blue: #678FFF; --light-gray: #333333; --gray: #282828; --dark-gray: #1C1C1C; --hover-button: #222858;}

* {
    user-select: none;
}

#hostname {
    margin: var(--popup-gap) var(--popup-gap-extra-thin);
    text-align: center;
    margin-bottom: 10px;
}

:root.desktop .tool:hover {
    background-color: rgba(59, 61, 79, 0.5) !important;
}

.user {
    margin: var(--popup-gap) var(--popup-gap-extra-thin);
    text-align: left;
    font-size: 16px;
    background-color: var(--blue);
    margin-top: 15px;
    padding: 10px;
}

div#users>.user>span {
    color: white !important;
}

div#users>.user>span:hover {
    transition: 0.3s;
    border-radius: 5px;
}

hr {
    border: 0;
    border-top: 1px solid var(--hr-ink);
    margin: 0;
    padding: 0;
}

hr,
.toolRibbon {
    background-color: var(--blue) !important;
    width: 300px;
}

.btn-profil {
    transition: 0.3s;
    color: white;
    text-shadow: none;
    width: 110px;
    background-color: transparent;
    border-radius: 20px !important;
    border: none !important;
    /* border: white solid 1px !important; */
}

.connect-btn {
    float: right;
    color: white;
    left: 0%;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-profil:hover {
    transition: 0.3s;
    background-color: var(--hover-button);
}

#main {
    padding-top: 10px;
    width: 270px;
}

#basicTools {
    border-top: white solid 2px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
}
#basicTools div:hover {
    transition: 0.3s;
    background-color: var(--hover-button);
}
#basicTools div {
    transition: 0.3s;
    height: 54px;
    width: 54px;
}
#basicTools div a {
    height: 54px;
    width: 54px;
}
#basicTools div a img {
    margin-top: 12px;
    margin-left: 12px;
    height: 30px;
}