* {
  color: white;
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

body {
  background-color: rgb(27, 27, 35);
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
}

#add {
  bottom: 200px;
}

#barre{
  bottom: 100px;
}

.btn-profil {
  background-color: rgba(0, 206, 209, 0.9);
  position: static;
  height: 28px;
  width: 150px;
  border-color: black;
  border-radius: 7px;
}

.btn-profil:disabled {
  cursor: not-allowed;
  background-color: darkgray;
}

.input-profil {
  height: 26px;
  color: black;
  position: static;
  border-radius: 5px;
  border: 0;
  text-align: center;
}

.defilement {
  height: 50px;
  width: 150px;
  overflow-y: auto;
}

.profil-cree {
  margin-bottom: 5px;
}

.profil-cree input:disabled {
  color: white;
}

.selectTheme {
  width: 100px;
  text-align: center;
  height: 26px;
  color: black;
  position: static;
  border-radius: 5px;
  border: 0;
}