* {
  color: white;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: grey;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
}

#add {
  bottom: 200px;
}

.btn-profil {
  background-color: rgba(0, 206, 209, 0.9);
  position: static;
  height: 28px;
  width: 150px;
  border-color: black;
  border-radius: 7px;
}

.btn-profil:disabled {
  cursor: not-allowed;
  background-color: darkgray;
}

.input-profil {
  color: black;
  position: static;
  border-radius: 5;
}

.defilement {
  height: 50px;
  width: 150px;
  overflow-y: auto;
}

.profil-cree {
  margin-bottom: 5px;
}

.profil-cree input:disabled {
  color: white;
}