:root {
	--dark-blue: #2a3961;
	--blue: #43497d;
	--light-blue: #678FFF;
	--light-gray: #333333;
	--gray: #282828;
	--dark-gray: #1C1C1C;
	--dark-container-bg: #4962a6;
	--hover-button: #222858;
}

* {
	color: white;
	font-family: 'Nunito', sans-serif;
	user-select: none;
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--dark-blue);
	height: 100%;
	width: 100%;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profil-like {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: var(--blue);
	border-radius: 25px;
	margin: 10px 0;
	justify-content: space-between;
}

#create-profile-container {
	margin-top: 10px;
}

.container {
	width: 95%;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	background-color: var(--dark-container-bg);
	margin-bottom: 20px;
	padding: 20px 5%;
}

.credential-inputs-container {
	display: flex;
	align-items: center;
}

#credentials-info {
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 25px;
	position: relative;
	align-self: flex-start;
}

#info-message {
	display: none;
	width: max-content;
	position: absolute;
	left: -300px;
	overflow: hidden;
}

#credentials-info:hover {
	transition: all .3s ease;
	background-color: var(--light-blue);
}

#credentials-info:hover #info-message {
	display: contents;
	transform: translateX(300px);

}

#question-mark {
	height: 26px;
	width: 26px;
}

/* #create-btn {
	margin-left: auto;
} */

.btn-profile-container {
	position: relative;
	right: 0;
	display: flex;
}

.btn-profil {
	background-color:
		/*rgba(0, 206, 209, 0.9)*/
		var(--light-blue);
	height: 28px;
	width: 150px;
	border-color: transparent;
	border-radius: 7px;
}

.btn-profil:hover {
	transition: .3s;
	background-color: var(--hover-button);
}

.btn-profil:disabled {
	cursor: not-allowed;
	background-color: darkgray;
}

.credential-input {
	height: 26px;
	color: black;
	/* position: static; */
	border-radius: 5px;
	border: 0;
	text-align: center;
}

/* h1 {
  font-size: 40pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
}

#create {
  bottom: 200px;
}

#barre {
  bottom: 100px;
}

.btn-profil {
  background-color: rgba(0, 206, 209, 0.9);
  position: static;
  height: 28px;
  width: 150px;
  border-color: transparent;
  border-radius: 7px;
}

.btn-profil:disabled {
  cursor: not-allowed;
  background-color: darkgray;
}

.credential-input {
  height: 26px;
  color: black;
  position: static;
  border-radius: 5px;
  border: 0;
  text-align: center;
}

.defilement {
  height: 50px;
  width: 150px;
  overflow-y: auto;
}

.profil-cree {
  margin-bottom: 5px;
}

.profil-cree input:disabled {
  color: white;
}

.selectTheme {
  width: 100px;
  text-align: center;
  height: 26px;
  color: black;
  position: static;
  border-radius: 5px;
  border: 0;
}

.selectPronoteTheme {
  width: 100px;
  text-align: center;
  height: 26px;
  color: black;
  position: static;
  border-radius: 5px;
  border: 0;
}

p.themeChoisi {
  font-size: 17px;
}

p.pronoteChoix {
  font-size: 17px;
} */