* {--dark-blue: #2a3961; --blue: #43497d; --light-blue: #678FFF; --light-gray: #333333; --gray: #282828; --dark-gray: #1C1C1C; --hover-button: #222858;} /* Importer les couleurs */

.container.container--full.bg--white div {
    background-color: var(--dark-blue);
}
.container.container--full.bg--white div * {
    color: white !important;
}
.scheduler__slots * {
    color: white !important;
}

.scheduler__slot--break {
    height: calc(4rem * 90 / 60) !important;
    background-image: repeating-linear-gradient(45deg,rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.15) 1px,transparent 2px,transparent 4px) !important;
}

.scheduler__slots :nth-child(6) {
    height: calc(4rem * 90 / 60) !important;
}

.scheduler__card.scheduler__card--session.js-scheduler__cdt-event {
    background-image: none !important;
}
.scheduler__card.scheduler__card--session.js-scheduler__cdt-event * {
    background: transparent !important;
}

.content-toolbar.content-toolbar--tabs.content-toolbar--buttons {
    background-color: var(--blue);
}

.content-toolbar.content-toolbar--tabs.content-toolbar--buttons * {
    color: var(--light-blue);
}

form.js-cdt-navigation div.content-filter {
    background-color: var(--blue);
}

.flex__item.align-self--end * {
    color: var(--light-blue);
}

.flex__item.flex__item--to-left * {
    background-color: var(--blue);
    border-radius: 20px;
    color: white;
}

.js-scheduler-modal__details-templates div {
    background-color: var(--blue) !important;
}
.js-scheduler-modal__details-templates div header div {
    background-color: var(--blue) !important;
    background-image: none !important;
}