* {--dark-blue: #2a3961; --blue: #43497d; --light-blue: #678FFF; --light-gray: #333333; --gray: #282828; --dark-gray: #1C1C1C; --hover-button: #222858;}

body {
    color: white !important; }

/* Panels */
div.panel--outlined {
    color: white !important;
    border-radius: 20px !important;
    background-color: var(--blue) !important;
    border-color: transparent !important; }

/* Div bouttons en haut : Prochainement, Emploi du temps, Travail à faire, Classeur */
.content-toolbar.content-toolbar--tabs.content-toolbar--buttons {
    background-color: var(--blue) !important; }

/* Bouttons Déclarer fait à droite */
.col.col--xs-4.text--center a {
    border-radius: 20px !important;
    color: white !important;
    border-color: white !important;
    background-color: var(--blue) !important; }
.col.col--xs-4.text--center a:hover {
    transition: 0.3s;
    border-color: transparent !important;
    border-radius: 20px !important;
    background-color: var(--hover-button) !important; }

/* Div quand clique sur un devoirs a droite */
.modal__body {
    background-color: var(--blue) !important; }
.modal__body a {
    color: #006dcc !important; }
.modal__body a:hover {
    transition: 0.3s;
    color: var(--light-blue) !important; }
button.btn.btn--primary.btn.btn--primary {
    border-radius: 20px !important;
    color: white !important;
    border-color: white !important;
    background-color: var(--blue) !important; }
button.btn.btn--primary.btn.btn--primary:hover {
    transition: 0.3s;
    border-color: transparent !important;
    border-radius: 20px !important;
    background-color: var(--hover-button) !important; }
button.btn.btn--secondary.btn.btn--secondary {
    position: absolute;
    left: 15px;
    color: white !important;
    background-color: transparent;
    border-radius: 20px !important;
    border-color: rgb(168, 31, 31) !important; }
button.btn.btn--secondary.btn.btn--secondary:hover {
    transition: 0.3s !important;
    color: white !important;
    border-radius: 20px !important;
    border-color: transparent !important;
    background-color: rgb(168, 31, 31) !important; }