* {--dark-blue: #2a3961; --blue: #43497d; --light-blue: #678FFF; --light-gray: #333333; --gray: #282828; --dark-gray: #1C1C1C; --hover-button: #222858;}

body {
    color: white !important; }

/* Panels */
div.panel--outlined {
    color: white !important;
    border-radius: 20px !important;
    background-color: var(--blue) !important;
    border-color: transparent !important; }

/* Div bouttons en haut : Prochainement, Emploi du temps, Travail à faire, Classeur */
.content-toolbar.content-toolbar--tabs.content-toolbar--buttons {
    background-color: var(--blue) !important; }

/* Bouttons Déclarer fait à droite */
.col.col--xs-4.text--center a {
    border-radius: 20px !important;
    color: white !important;
    border-color: white !important;
    background-color: var(--blue) !important; }
.col.col--xs-4.text--center a:hover {
    transition: 0.3s;
    border-color: transparent !important;
    border-radius: 20px !important;
    background-color: var(--hover-button) !important; }